html {
    background-color: #111111;
    width: 100vw;
}

header  {
    margin: 0;
    padding: 0;
}

p, h2, h3, h4 {
    text-shadow: 2px 2px 1px #111111;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
 
#menu li a:hover {
    display: block;
    color: silver;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#gridHeader {
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 380px;
}

#headerR img {
    background-color: white;
    border-radius: 50%;
}

#headerR h2 {
    color: #474747;
    text-shadow: 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

#contactR {
    background-image: url("images/yo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}