* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p, h2, h3, h4 {
    text-shadow: 2px 2px 1px #111111;
}

li {
    list-style-type: none;
}

header {
    height: 10.5vh;
}

#menu li a:hover {
    color: silver;
}

main, #services, #musique, #videos, #contact {
    padding-top: 10.5vh;
}

#banner {
    background: url("images/banner.jpg") no-repeat center center;
    background-size: cover;
    color: white;
    width: auto;
    border: solid #e2e5ea 10px;
}

#bannerR img {
    background-color: white;
    border-radius: 50%;
}

#bannerR h2 {
    font-family: 'Advent Pro', sans-serif;
    font-style: italic;
    color: #474747;
    text-shadow:
     1px  1px     #fff, 
    -1px  1px     #fff, 
     1px -1px     #fff, 
    -1px -1px     #fff,
     1px  1px 5px #555;
}

#musiquePhoto {
    height: calc(50vh - 10.5vh);
    background: url("images/360.jpg") no-repeat center center;
    background-size: contain;
}

.song {
    height: (15vh);
}

.video {
    height: calc(40vh);
    background-color: black;
}

#contactR {
    background-image: url("images/yo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

input, #text {
    background-color: rgba(80,85,98,1);
    padding: 0.5em;
    border: solid #212529 1px;
    color: white;
    font-family: serif;
    font-style: italic;
}

/* input[type=submit]{
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-family: serif;
    background-color: rgb(63, 66, 80);
    border: none;
    margin: 1px;
}
*/