* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, h2, h3, h4 {
    text-shadow: 2px 2px 1px #111111;
}
 
#menu li a:hover {
    color: silver;
}

body {
    margin-top: 100px;
}

#bannerGrid {
    background: url("images/banner.jpg") no-repeat center center;
    background-size: 100% 100%;
    color: white;
    height: 450px;
    margin-left: 0px;
    margin-right: 0px;
}

#bannerR img {
    background-color: white;
    border-radius: 50%;
}

#bannerR h2 {
    font-family: 'Advent Pro', sans-serif;
    font-style: italic;
    color: #474747;
    text-shadow:
     1px  1px     #fff, 
    -1px  1px     #fff, 
     1px -1px     #fff, 
    -1px -1px     #fff,
     1px  1px 5px #555;
}

#videos .col {
    background-color: black;
}

#contactR {
    background-image: url("images/yo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

input[type=text]{
    width: 199px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-family: serif;
    font-style: italic;
    background-color: rgba(80,85,98,1);
    border: none;
    margin: 1px;
  }

input[type=email]{
    width: 199px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-family: serif;
    font-style: italic;
    background-color: rgba(80,85,98,1);
    border: none;
    margin: 1px;
}
  
input[type=tel]{
    width: 199px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-family: serif;
    font-style: italic;
    background-color: rgba(80,85,98,1);
    border: none;
    margin: 1px;
}

#text {
    width: 400px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-family: serif;
    font-style: italic;
    background-color: rgba(80,85,98,1);
    border: none;
    margin: 1px;
}

/* input[type=submit]{
    width: 150px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    font-family: serif;
    background-color: rgb(63, 66, 80);
    border: none;
    margin: 1px;
}
*/